@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-onest);
  --font-serif: var(--font-dm-serif-display);

  --color-zinc: #48464c;
  --color-muted: #b0b0b0;
  --color-secondary: #2c2c2c;

  --color-primary-50: #fffce8;
  --color-primary-100: #fef6b9;
  --color-primary-200: #fef297;
  --color-primary-500: #fce31d;
  --color-primary-700: #b3a115;
  --color-primary-900: #6a5f0c;

  --animate-fade-in: fadeIn 0.4s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  @media screen and (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
    }
  }

  html {
    @apply font-sans scroll-smooth;

    interpolate-size: allow-keywords;
  }

  body {
    @apply mx-auto max-w-360;
  }

  button,
  [role="button"] {
    @apply cursor-pointer hover:opacity-80 hover:scale-105 transition-all;

    &:disabled {
      @apply opacity-50 cursor-not-allowed;
    }
  }

  :is(section, .section) {
    @apply px-5 sm:px-8 md:px-12 lg:px-12.5 lg:mx-2.5 lg:rounded-[10px];

    &:not(.no-section-padding) {
      @apply lg:px-15 lg:mx-0 lg:rounded-none;
    }
  }

  body {
    @apply font-normal text-base leading-normal tracking-[-0.01em];
  }

  h1 {
    @apply font-serif text-[46px] md:text-[58px] lg:text-[66px] leading-[1.3] lg:leading-[1.14] tracking-normal;
  }

  h2 {
    @apply font-serif text-secondary text-[32px] md:text-[40px] lg:text-[46px] leading-[1.3] tracking-normal;
  }
}

/* Frequently used custom typography variants */
@layer components {
  /* Heading/H8 Bold */
  .text-h3-variant-1 {
    @apply font-bold text-lg md:text-xl leading-normal tracking-normal;
  }

  /* Merges "Body Text/B1 medium" & "B1 Bold" */
  .text-h3-variant-2 {
    @apply font-medium text-base md:text-lg leading-normal tracking-normal;
  }

  /* Heading/H7 */
  .text-h3-variant-3 {
    @apply font-semibold text-xl md:text-[22px] lg:text-2xl leading-normal tracking-normal;
  }

  /* Heading/H6 Medium */
  .text-h3-variant-4 {
    @apply font-medium text-[22px] md:text-[25px] lg:text-[28px] leading-6.75 tracking-[-0.04em];
  }

  /* Body Text/B2 normal */
  .text-body-variant-1 {
    @apply text-sm md:text-base tracking-[-0.04em] md:tracking-[-0.01em];
  }

  /* Body Text/B1 normal */
  .text-body-variant-2 {
    @apply text-sm md:text-lg tracking-[-0.04em] text-neutral-500;
  }

  /* Body Text/B3 small */
  .text-small {
    @apply text-xs md:text-sm;
  }

  .box-variant-1 {
    @apply px-5 sm:px-8 md:px-12.5 py-10 md:py-15;
  }
  .noise {
    position: relative;
  }

  .text-body-variant-3 {
    @apply text-sm  leading-5 tracking-[0.1px];
  }

  .input-variant-1 {
    @apply h-12 bg-neutral-100 outline outline-transparent rounded-[10px] p-3.5  placeholder:text-neutral-500 hover:outline-neutral-300 focus:outline-primary-500 transition-all duration-300 ease-in-out  focus:bg-white;
    &:is(select) {
      @apply border-r-15 md:border-r-20 border-r-transparent;
    }
  }

  .noise::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.025;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: url(/src/assets/images/noisebg.png);
    background-repeat: repeat;
    background-size: contain;
    z-index: 1;
  }
}

@utility underline {
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-underline-position: under;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
