@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-onest);
  --font-serif: var(--font-dm-serif-display);

  --animate-fade-in: fadeIn 0.4s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  @media screen and (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
    }
  }

  html {
    @apply font-sans scroll-smooth;
  }

  body {
    @apply mx-auto max-w-360;
  }

  button,
  [role="button"] {
    @apply cursor-pointer hover:opacity-80 hover:scale-105 transition-all;

    &:disabled {
      @apply opacity-50 cursor-not-allowed;
    }
  }
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
