---
import type { GetStaticPaths } from "astro";

import fs from "node:fs";

import Layout from "@/layouts/Layout.astro";

import Hero from "@pages/location/Hero.astro";
import Planning from "@pages/location/Planning.astro";
import TrustedFireplace from "@pages/location/TrustedFireplace.astro";
import Services from "@pages/location/Services.astro";
import HowItWorks from "@pages/location/HowItWorks.astro";
import WhyChooseUs from "@pages/location/WhyChooseUs.astro";
import Areas from "@pages/location/Areas.astro";
import RecentInstallations from "@pages/location/RecentInstallations.astro";
import Testimonials from "@pages/location/Testimonials.astro";
import FAQs from "@pages/location/FAQs.astro";
import Showroom from "@pages/location/Showroom.astro";
import Ready from "@pages/location/Ready.astro";

export const getStaticPaths: GetStaticPaths = async () => {
  const locations = await fs.promises.readdir("src/data/locations");

  return locations.map((location) => ({
    params: { location },
  }));
};
---

<Layout
  title="Gas Fires and Stoves - Supply My Fire"
  description="Find the perfect gas fire or stove for your home in your area."
>
  <div>
    <Hero />
    <Planning />
  </div>

  <TrustedFireplace />
  <Services />
  <HowItWorks />
  <WhyChooseUs />
  <Areas />
  <RecentInstallations />
  <Testimonials />
  <FAQs />
  <Showroom />
  <Ready />
</Layout>
