---
import Steps from "@/components/Steps.astro";

const { title, steps } = (
  await import(`@/data/locations/${Astro.params.location}/how-it-works.json`)
).default as typeof import("@/data/locations/cardiff/how-it-works.json");
---

<section class="bg-primary-50 py-7 sm:py-15 noise">
  <h2 class="font-serif text-center text-secondary" set:html={title} />

  <Steps
    steps={steps}
    class="grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
  />
</section>
