---
import { Image } from "astro:assets";

import Navbar from "./Navbar.astro";
import { Icon } from "astro-icon/components";

interface Props {
  bg: ImageMetadata;
  class?: string;
}

const { bg, class: _class } = Astro.props;

const footerText =
  "Cardiff Showroom | Installation Services: Cardiff, Newport, Swansea, Bristol & Bath";
---

<div class:list={[_class, "relative text-white"]}>
  <Image
    role="presentation"
    src={bg}
    alt=""
    class="absolute inset-0 size-full object-cover -z-20"
  />

  <Navbar />

  <section>
    <slot />
  </section>

  <div class="py-3 bg-primary-200 text-secondary overflow-hidden">
    <div class="marquee">
      <div class="marquee-content">
        {
          Array.from({ length: 10 }).map((_, i) => (
            <div
              aria-hidden={i > 0}
              class="flex gap-2.5 mr-2.5 items-center whitespace-nowrap"
            >
              {footerText}

              <Icon name="dot" size={10} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>

<style>
  .marquee {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .marquee-content {
    display: flex;
    animation: scroll 20s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-100% / 10 * 5));
    }
  }

  .marquee:hover .marquee-content {
    animation-play-state: paused;
  }
</style>
