---
import { Icon } from "astro-icon/components";

import Button from "@/components/Button.astro";

const formFields = [
  {
    type: "text",
    placeholder: "First name",
    name: "firstName",
    invalidFeedback: "Please provide your first name",
  },
  {
    type: "text",
    placeholder: "Last name",
    name: "lastName",
    invalidFeedback: "Please provide your last name",
  },
  {
    type: "email",
    placeholder: "Email",
    name: "email",
    invalidFeedback: "Please provide your email address",
  },
  {
    type: "tel",
    placeholder: "Phone number",
    name: "phone",
    invalidFeedback: "Please provide your phone number",
  },
];
---

<section>
  <div
    class="section bg-primary-900/20 border border-primary-900/30 rounded-[20px] mx-auto py-10 md:py-15"
  >
    <div class="grid grid-cols-1 lg:grid-cols-11 items-start">
      <div
        class="flex flex-col justify-between h-full lg:col-span-5 lg:mr-12 xl:mr-36"
      >
        <div>
          <h2>Let's Talk</h2>

          <p
            class="text-body-variant-1 text-neutral-500 lg:text-secondary mt-2.5"
          >
            Have questions or want to learn more? Get in
            <br class="hidden xl:block" />
            touch with our team—we're here to help!
          </p>
        </div>

        <div
          class="bg-primary-900/20 rounded-[20px] p-7.5 mt-6 lg:mt-0 mb-10 lg:mb-0"
        >
          <div class="flex items-center justify-center gap-2.5 mb-6 sm:mb-7.5">
            <Icon name="mailbox-2" class="size-5 lg:size-5.5" />

            <h3 class="text-lg lg:text-xl lg:font-serif text-[#222222]">
              Email Support
            </h3>
          </div>

          <p class="text-gray/black text-center text-sm">
            We will here to assist you with any questions, concerns, or issues
            you may encounter.
          </p>
        </div>
      </div>

      <div class="bg-white rounded-2xl p-6 lg:col-span-6">
        <div class="mb-4">
          <h3 class="text-[26px] lg:text-3xl lg:font-serif leading-12.5">
            Contact Us
          </h3>
          <p class="text-sm text-neutral-500 lg:text-black">
            Our team will reach out to you shortly.
          </p>
        </div>

        <form
          action="https://api.web3forms.com/submit"
          method="POST"
          novalidate
          id="contact-us-form"
          class="space-y-4"
        >
          <!-- Web3Forms Access Key -->
          <input
            type="hidden"
            name="access_key"
            value={import.meta.env.PUBLIC_WEB3FORMS_ACCESS_KEY}
          />

          <!-- Custom Subject Line to identify this form -->
          <input type="hidden" name="subject" value="Contact Us Enquiry" />

          <!-- Honeypot Spam Protection -->
          <input type="checkbox" name="botcheck" class="hidden" />

          {
            formFields.map((field) => (
              <div class="grid gap-1">
                <input
                  type={field.type as any}
                  name={field.name}
                  placeholder={field.placeholder}
                  required
                  class="input-variant-1 p-4"
                />

                <p class="invalid-feedback text-red-500 text-sm mt-1 hidden">
                  {field.invalidFeedback}
                </p>
              </div>
            ))
          }

          <div class="grid gap-1">
            <textarea
              name="message"
              placeholder="Write about your issue"
              rows="2"
              required
              class="input-variant-1 h-25 p-4 resize-none"></textarea>

            <p class="invalid-feedback text-red-500 text-sm mt-1 hidden">
              Please provide your issue in detail
            </p>
          </div>

          <Button
            type="submit"
            width="full"
            variant="primary"
            text="Send Enquiry"
          />

          <p id="contact-us-form-result" class="mt-3 text-sm font-medium"></p>
        </form>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @reference "@/styles/global.css";

  .was-validated {
    input,
    textarea,
    select {
      &:invalid {
        @apply outline-red-500 bg-white;

        & + .invalid-feedback {
          @apply block;
        }
      }
    }
  }
</style>

<script>
  const form = document.getElementById("contact-us-form") as HTMLFormElement,
    result = document.getElementById("contact-us-form-result");

  form?.addEventListener("submit", function (e) {
    e.preventDefault();

    form.classList.add("was-validated");

    if (!form.checkValidity()) {
      const [invalidEl] = form.querySelectorAll<HTMLInputElement>(":invalid");

      invalidEl.focus();

      return;
    }

    const formData = new FormData(form),
      object = Object.fromEntries(formData),
      json = JSON.stringify(object);

    if (result) {
      result.style.display = "block";
      result.innerHTML = "Sending...";
      result.classList.remove("text-green-500", "text-red-500");
    }

    fetch("https://api.web3forms.com/submit", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
      body: json,
    })
      .then(async (response) => {
        let data = await response.json();

        if (response.status == 200) {
          if (result) {
            result.classList.add("text-green-500");
            result.innerHTML = "Enquiry sent!";
          }
        } else {
          console.log(response);

          if (result) {
            result.classList.add("text-red-500");
            result.innerHTML = data.message;
          }
        }
      })
      .catch((error) => {
        console.log(error);

        if (result) {
          result.classList.add("text-red-500");
          result.innerHTML = "Something went wrong!";
        }
      })
      .then(function () {
        form.reset();
        form.classList.remove("was-validated");

        setTimeout(() => {
          if (result) result.style.display = "none";
        }, 5000);
      });
  });
</script>
