---
import Steps from "@/components/Steps.astro";

const steps = [
  {
    icon: "telephone",
    title: "Contact Us",
    description:
      "Call, email, WhatsApp, or book online. We'll discuss your vision, requirements, and budget.",
  },
  {
    icon: "home",
    title: "Expert Assessment",
    description:
      "Visit our Cardiff showroom to see products firsthand, or we'll come to you for a free home survey.",
  },
  {
    icon: "paint",
    title: "Find Your Perfect Fit",
    description:
      "Our experts guide you through options, explain possibilities, and help you choose the ideal solution",
  },
  {
    icon: "tool",
    title: "Certified Installation",
    description:
      "Our Gas Safe and HETAS certified installers handle everything professionally, from start to finish.",
  },
  {
    icon: "fire",
    title: "Warmth & Elegance",
    description:
      "Relax in your transformed space with ongoing support and aftercare from our team.",
  },
];
---

<section class="no-section-padding bg-primary-50 py-7 sm:py-15 noise">
  <h2 class="font-serif text-center text-secondary">
    Your Journey to the
    <br /><em>Perfect Fireplace</em>
  </h2>

  <Steps
    steps={steps}
    class="grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5"
  />
</section>
