---
import { Image } from "astro:assets";

import HeatsLogo from "@/assets/images/heats-logo.png";
import SafeLogo from "@/assets/images/safe-logo.png";
import Dealer1 from "@/assets/images/dealer-1.png";

const certifications = [
  {
    image: HeatsLogo,
    title: "HETAS Approved Retailer",
    description:
      "Official certification for wood burning stove expertise and installation. HETAS approval ensures we meet strict standards for solid fuel appliance installation, keeping your Cardiff home safe and compliant with building regulations.",
  },
  {
    image: SafeLogo,
    title: "Gas Safe Registered",
    description:
      "Legal requirement for any gas fire installation in the UK. Our Gas Safe registration means all gas work is completed by qualified engineers who prioritize your safety above all else.",
  },
  {
    image: Dealer1,
    title: "Exclusive Primary Dealer",
    description:
      "Cardiff's primary dealer for Solution Fires, Vision Fires, Gazco, and Stovax. This exclusive status recognizes our expertise, customer service standards, and gives you access to products unavailable elsewhere in Cardiff.",
  },
];
---

<section>
  <h2 class="text-center">
    Our <em>Certifications</em> & <br /> Accreditations
  </h2>

  <p class="text-body-variant-2 mt-3.5 max-w-137.5 text-center mx-auto">
    Professional certifications aren't just badges - they represent ongoing
    training, rigorous standards, and your peace of mind. Every Supply My Fire
    installation is completed to the highest industry standards.
  </p>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 md:gap-6.5 mt-10">
    {
      certifications.map((certification) => (
        <div class="bg-gray-50 px-4 py-6 md:p-8 lg:p-4 xl:p-8 rounded-[14px]">
          <div class="w-auto">
            <Image
              src={certification.image}
              alt={certification.title}
              class="h-15 w-auto mx-auto"
            />
          </div>

          <h3 class="text-h3-variant-1 mt-6 mb-3.5 text-center">
            {certification.title}
          </h3>

          <p class="text-body-variant-1 text-neutral-500 lg:text-neutral-600 text-center">
            {certification.description}
          </p>
        </div>
      ))
    }
  </div>
</section>
