---
import Layout from "@/layouts/Layout.astro";

import Hero from "@pages/product/Hero.astro";
import Planning from "@pages/product/Planning.astro";
import MediaWall from "@pages/product/MediaWall.astro";
import HowItWorks from "@pages/product/HowItWorks.astro";
import WhyChooseUs from "@pages/product/WhyChooseUs.astro";
import DesignOptions from "@pages/product/DesignOptions.astro";
import RecentInstallations from "@pages/product/RecentInstallations.astro";
import Testimonials from "@pages/product/Testimonials.astro";
import FAQs from "@pages/product/FAQs.astro";
import Services from "@pages/product/Services.astro";
import Ready from "@pages/product/Ready.astro";
---

<Layout
  title="Products - Supply My Fire"
  description="Explore our range of gas fires and stoves."
>
  <div>
    <Hero />
    <Planning />
  </div>

  <MediaWall />
  <HowItWorks />
  <WhyChooseUs />
  <DesignOptions />
  <RecentInstallations />
  <Testimonials />
  <FAQs />
  <Services />
  <Ready />
</Layout>
