---
import "@/styles/global.css";

import { Font } from "astro:assets";

import Footer from "@/components/Footer.astro";
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={Astro.url.href} />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}

    <Font cssVariable="--font-onest" preload />
    <Font cssVariable="--font-dm-serif-display" preload />
  </head>

  <body>
    <main class="flex flex-col gap-y-15 md:gap-y-20 lg:gap-y-25">
      <slot />
    </main>

    <Footer />
  </body>
</html>
